#Calculator {
  border-style: solid;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 24rem;
}

#NumberPad{
  display: flex;
  flex-wrap: wrap;
  width: 24rem;
}

#Operations {
  display: flex;
  flex-wrap: wrap;;
  width: 24rem;
}


.button {
  width:4rem;
  height: 4rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: black;
}

.symbol {
  width: 4rem;
  height:4rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: black;
}

button {
  width: 5rem;
  height:5rem;
  font-size: 2rem;
  cursor: pointer;
}

p {
  margin-top: auto;
  font-size: 3rem;
}

[data-state= "selected"] {
  background: var(--gray--200);
}